

/**
 * 
 * Author:Liuchang
 * Date:2015-11-18
 * Email:lc9401@gmail.com
 *
 */

/*  global  style */
body {
margin: 0;
padding: 0;
text-align: center;
height: 100%;
width: 100%;
}

a{
text-decoration: none;
}

li {
list-style-type: none;
text-align: left;
}

article,header,main,footer,div {

}

.c-container {

}
.sub-container {

}

.c-ul {

}


/*  header style  */
.header {
width: 95%;
height: 80px;
margin-left: auto;
margin-right: auto;
margin-top:10px;
border-radius: 25px;
}

.header b {
font-size: 18px;
float: left;
margin-left: 90px;
margin-top: 25px;
display: block;
}

.header-ul {
width: 200px;
height: 80px;
position: absolute;
right: 100px;
top: 35px;
}

.header-ul li {
display: inline-block;
margin: 10px;
}


/*  main style  */
.menu-li {
margin: 10px;
}


.menu-container {
width: 95%;
height: 80px;
margin-left: auto;
margin-right: auto;
margin-top:	20px;
border-radius: 25px;
}

.left {
height: 500px;
width: 17%;
border-radius: 25px;
float: left;
}

.li-menu {
display: none;
}

.content {
height: 450px;
width: 80%;
border-radius: 25px;
margin-left: 20%;
padding-top: 50px;
}

/* 表单样式 */
.content-main input,select {
	display:  inline-block;
	border-radius: 15px;
	margin: 10px;
}

.content-main input[type=text],[type=password] {
	width: 250px;
	height: 45px;
	padding-left: 15px;
	font-size: 20px;
}

.content-main select {
	width: 80px;
	height: 30px;
	font-size: 20px;
	padding-left: 15px;
}

.content-main .btn {
	width: 350px;
	height: 60px;
	font-size: 20px;
	padding-left: 15px;
	margin-top: 20px;
}

.conetnt-title {
font-size: 30px;
margin-bottom: 30px;
}

.content-main {

}

/* 列表样式 */
.list-title {
font-size: 20px;
margin-bottom: 10px;
text-align: left;
margin-left: 30px;
margin-top: -30px;
}

.list-main {

}

.list-main form {
}

.list-main input[type=text] {
display: inline-block;
width: 200px;
height: 25px;
padding-left: 10px;
}

.list-main .btn {
display: inline-block;
width: 80px;
height: 25px;
border-radius: 20px;
margin-left: 5px;
}

.list-content {
	width: 90%;
	height: 350px;
	border: 2px dashed #ccc;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	overflow: hidden;
	overflow-y: visible;
}

.list-content .table {
text-align: center;
margin-left: auto;
margin-right: auto;
width: 98%;
height: 350px;
}

.list-content .table td {
	border: 1px solid black;
}

/*  footer  style  */
.footer {
visibility: hidden;
width: 100%;
height: 60px;
line-height: 60px;
margin-left: auto;
margin-right: auto;
position: absolute;
bottom: 0;
}

