

	<article class="footer"> <footer> @cc </footer> </article>
		</div>
	</div>
<script type="text/javascript" src="/javascripts/jquery.min.js?v=v1.0"></script> 
<script type="text/javascript" src="/javascripts/main.js?v=v1.0"></script>
<script type="text/javascript" src="/javascripts/user.js?v=v1.0"></script>
<script type="text/javascript" src="/javascripts/resource.js?v=v1.0"></script>
<script type="text/javascript" src="/javascripts/article.js?v=v1.0"></script>
</body>
</html>